:root {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	--box-size: 20vmin;
	background-color: #f0eeef;

	/*SKUE COLOR*/
	--skue-top-color: rgba(255, 255, 255, 0.83);
	--skue-bottom-color: rgba(217, 210, 200, 0.51);
	--border-color: rgba(255, 255, 255, 0.2);

	/*SKUE SHADOW*/
	--skue-top-shadow: -6px -6px 26px 0px var(--skue-top-color);
	--skue-bottom-shadow: 6px 6px 16px 0px var(--skue-bottom-color);
}

.skue-box,
.skue-shape,
.skue-circle {
	float: left;
	margin: 20px;
	padding: 15px;
}
.skue-box {
	width: var(--box-size);
	height: var(--box-size);
	border-radius: 15px;

	/*SKUE SETUP*/
	/* background-color: #efeeee;
	border: 1px solid var(--border-color);
	box-shadow: var(--skue-bottom-shadow), var(--skue-bottom-shadow);
	-webkit-box-shadow: var(--skue-bottom-shadow), var(--skue-bottom-shadow);
	-moz-box-shadow: var(--skue-bottom-shadow), var(--skue-bottom-shadow); */
}

.skue-circle {
	width: var(--box-size);
	height: var(--box-size);
	border-radius: var(--box-size);
	background: linear-gradient(145deg, #ffffff, #d7d6d6);
	box-shadow: 7px 7px 15px #cbcaca, -7px -7px 15px #ffffff;
}

.skue-box {
	box-shadow: -2px -2px 8px #ffffff, -2px -2px 12px rgba(255, 255, 255, 0.5),
		inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
}
.skue-shape {
	border-radius: 15px;
	width: var(--box-size);
	height: var(--box-size);
	padding: 1em;
	box-shadow: -12px -12px 12px rgba(255, 255, 255, 1), 12px 12px 12px rgba(0, 0, 0, 0.03);
}
